/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hom{
  text-decoration: none;
  color: white;
}
.men{
  text-decoration: none;
  color: white;
}
.res{
  text-decoration: none;
  color: white;
}
.rec{
  text-decoration: none;
  color: white;
}
.blog{
  text-decoration: none;
  color: white;
}
.pag{
  text-decoration: none;
  color: white;
}
.cont{
  text-decoration: none;
  color: white;
}

.napis1{
  color: #FEA100;
  font-size: 25px;
}

.napis2{
  color: white;
  font-size: 20px;
  text-align: center;
}

.napisy{
  
  
}



header {
  display: flex;
  background-color: #7D8587;
}

.flex-container {  
  display: flex;  
  gap: 50px;  
  align-items: center;  
  min-height: 10vh;
  margin-left: 250px;
  margin-right: 250px;
  padding: 0px;
  width: 100%;
}

.lista {  
  display: flex;  
  justify-content: space-around;  
  width: 70%;
}

.zdjecie1 { 
  

}

.lista{
  text-decoration: none;
}

.ramka1{
  width: 250px;
  border: 1px solid ;
  padding: 0px;
  margin: 1px orange;
  background-color: orange ;
  display: flex;
  gap: 10px;
}

.napisz{
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-top: 12px;
  text-align: center;
}

.jamv2{
padding-bottom: 20px;
}

.icon_plate{
width: 10%;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.btn{
background-color: #FEA100;

}

.napisy3 {
  position: absolute;
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  color: white;
  width: 100%;
}

.napisy4 {
  position: absolute;
  text-align: center;
  margin-top: 200px;
  width: 100%;
  
}

.napis4{
  font-size: 55px;
  color: white;
}

.napis5{
  font-size:45px ;
  color: white;
}

.phone { 
  position: absolute;
  margin-top: 370px;
  margin-left: 930px;
  justify-content: center;
}

.napisy5{
  position: absolute;
  text-align: center;
  margin-top: 425px;
  width: 100%;
}

.napis6{
  color: #FEA100;
  text-decoration: none;
}

.napis7{
  color: white;
  font-size: 30px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 45px;
  position: absolute;
  
}

.prawa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 1530px;
  margin-top: 200px;
  cursor: pointer;

}

.lewa {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 200px;
  margin-left: 270px;
  cursor: pointer;
  
}


.tytul{
  font-size: 30px;
  padding-bottom: 30px;
}

.dupa{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 150px;
}

.cena{
  width:100px;
  justify-content: flex-end;
}
 
.ultimate{
  display: flex;
  
}

.ultv2{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.plain {
  display: flex;
  padding-bottom: 20px;
}

.plainv2{
  display: flex;
  flex-direction: column;
}

.toasted{
display: flex;
padding-bottom: 20px;
}

.cena{
  padding-left: 10px;
}

.cenadruga{
  padding-left: 16px;
}

.cenatrzecia{
  padding-left: 53px;
}

.cenaczwarta{
  padding-left: 52px;
}

.toastedv2{
display: flex;
flex-direction: column;
}

.jam {
display: flex;

}

.jamv2{
  display: flex;
  flex-direction: column;
}


.przycisk{
  background-color: #FEA100;


}

.napisg{
justify-content: center;
text-align: center;
font-size: 25px;
padding-bottom: 30px;
}

.todays{
  display: flex;
  gap:5px;
  padding-top: 1px;
}

.napisnaramce{
  position: absolute;
  text-align: center;
  

}

.napisnaramce2{
  position: absolute;
  text-align: center;
  font-size: 20px;
}


.ramka2{
  
  
   
}

.ramka3{
  
  
  
}

.todaycena{
  border: solid black 1px;
  
}

.todacena2{
  border: solid black 1px;

}

.cli{
  margin-left: 930px;
  margin-right: 600px;
  margin-top: 10%;
}

.best{  
margin-left: 300px;

}


.happy{
  display: flex;
  margin-left: 400px;
  margin-right: 300px;
  margin-top: 50px;
  gap: 20px;
  font-family: Sinton;
}

.tekst11 {
  margin-top: 20px;
}

.ttt{
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;

}

.ttt2{
  font-size: 23px;
  padding-bottom: 15px;

}

.ttt3{
padding-bottom: 50px;
}

.ttt4{
}

.ttt22{
  position: absolute;
  padding-bottom: 15px;
}

.reserve input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:5px ;
}
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
.reserve {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #565F61;
}
.reserve p{
  padding-top: 20px;
  color: white;
  font-size: 20px;
}
.reserve h1{
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
.reserve button {
  background-color: #FEA100;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.zdj1 {
  transform: translateY(-100px);
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.zdj2 {
  transform: translateY(150px);
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
.np {
  text-align: justify;
}
.wrapper2 {
  display: flex;
  align-self: center;
  text-align: center;
  padding-top: 20px;
}
.wrapper2 span {

}
.napisr a {
  color: white;
}
.napisr2 {
  color: #FE4C8D;
}
.split2 {
  display: flex;
  flex-direction: column;
}
.napis1 a {
  color: #FEA100;
  font-size: 30px;
}
.napis2 {
  color: white;
  font-size: 18px;
}
.container2 {
  width: 1169px;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
  border: 5px ;
  height: 500px;
  overflow: hidden;
}
.gallery-img{
  width: 100%;
  height: 540px;
 
}
.gallery-img-text{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 510px;
  background-color: #565F61;
  font-size: 30px;
}
@media (min-width: 40em) {  .split2 {    flex-direction: row;  }  .split2 > * {    flex-basis: 100%;  }  .split2 > * + * {    margin-left: 2em;  }}

.szerokosci{
  width: 100%;
}

footer {
  background-color: #373844;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 250px;
  margin-top: 10px;
}

footer h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 30px;
}
footer li {
  padding-bottom: 7px;
  color: #ADB2B7;
}
.sub {
  background-color: #FEA100;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
footer a {
  color:#ADB2B7;
}
footer input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:5px ;
  background-color: #373844;
}
.right img {
  vertical-align: middle;
  margin-right: 5px;
  float: left;
  margin-left: 10px;
}
.get {
  background-color: #52535E;
  border: none;
  border-radius: 3px;
  color: white;
  height: 70px;
  width: 60%;
  font-size: 10px;
}
.copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
  COLOR: #ADB2B7;
  
}
.get span {
  font-size: 14px;
}

.b1 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #3B5998;
  margin-right: 5px;
}
.b2 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #55ACEE;
  margin-right: 5px;
}
.b3 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #DD4B39;
}

.fcolumn {  float: left;}
.left, .right {  width: 25%;}
.middle {  width: 50%;}

.dol{
  background-color:#373844 ;
  padding-bottom: 50px;
} 


.czescglowna{
  width: 100%;
}


.OGallery{
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.galery{
  font-size: 40px;
}